.header {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 8px;
}

.additionalActions {
  display: flex;
  margin-bottom: 18px;

  > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
